@charset "utf-8";

h1{
    font-family: "Arial Black";
    font-size: 200%;
    color: rgb(13, 13, 131);
    font-style: italic;
}
article{
    position: relative;
}
article div{
    width: 65%;
}
article aside{
    width: 25%;
    height: max-content;
    position: absolute;
    left: 65%;
    top: 20%;
    border: 2px solid blue;
}