@charset "utf-8";
article, aside, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body{
    background-color: rgba(0, 0, 0, 0.685);
}
header{
    background-color: rgb(0, 0, 0);
}

header section.image{
    width: 20%;
}
#home{
    font-size: 250%;
    position: absolute;
    left: 40%;
    top: 3.5%;
}
#aboutMe{
    font-size: 250%;
    position: absolute;
    left: 50%;
    top: 3.5%;
}
#skills{
    font-size: 250%;
    position: absolute;
    left: 65%;
    top: 3.5%;
}
#projects{
    font-size: 250%;
    position: absolute;
    left: 80%;
    top: 3.5%;
}
header section.links nav a:link{
    color: blue;
}
header section.links nav a:visited{
    color: beige;
}
header section.links nav a:hover{
    color: red;
}
