@charset "utf-8";
/* *{
   margin: 0px;

} */
 body{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
 }
 header{
   /* background-color: aliceblue; */
   /* position: fixed; */
    display: flex;
    z-index: 2;
 }
 .logo span{
    /* background-color: aliceblue; */
    font-size: 64.8px;
    font-style: italic;
    font-family: "Arial Black", sans-serif;
    font-weight: bolder;
    color: rgb(250, 127, 232);
    text-shadow: 5px 5px 15px;
 }
 .links{
    /* background-color: aliceblue; */
    margin-left: 20%;
    width: 60%;
 }
 .links nav{
    margin-top: 2%;
 }
.links nav a{
    /* background-color: blanchedalmond; */
    text-decoration: none;
    font-size: 2.5vw;
    margin-left: 8%;
}
.links nav a:link{
    color: rgb(250, 127, 232);
}
.links nav a:visited{
    color: rgb(252, 252, 252);
}
.links nav a:hover{
    text-shadow: 3px 4px 8px;
}